.Header{

/* background-color:gray; */
display: flex;
justify-content: center;

}

.child-1{
  
  width: 30%;
  /* background-color: thistle; */
  
}
.child-2 a {
  gap:15px;
  color: black;
  margin-right: 40px;
  text-decoration: none;
  font-size:20px;
  list-style: none;
  width:40%;
  
  
  
}
.child-2 ul{
  list-style: none;
  
}
.child-2{
  /* background-color: wheat; */
  margin-top: 20px;
}
.container{
  /* background-color: brown; */
  overflow: hidden;
}
.hero-1{
  width:70%;
  background-color: lightgreen;
  float:left;
}
.hero-2{
  width: 30%;
  background-color: lightsalmon;
  float:right;

}
 .footer{
  background-color: lightseagreen;
  color: tomato;
}